<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NoteXPro</title>
        <!-- Vue.js -->
        <script src="https://unpkg.com/vue"></script>
        <!-- JS Cookie -->
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="./styles.css">
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="./images/favicon.png" />
    </head>
    <body>
        <div id="app">
            <h1 class="text-center">Note<span class="text-primary">X</span>Pro</h1>
            <h1 class="text-center"><small>Fast, Clean, Responsive &#38; Professional Notepad!</small></h1>
            <div class="container-fluid">
                <div class="row">
                    <!-- Create new note form-->
                    <form class="card col-xs-12 col-sm-6">
                        <fieldset>
                            <legend>Create New Note:</legend>
                            <div class="form-group">
                                <label for="note-title">Note Title</label>
                                <input type="text" class="form-control" id="note-title" placeholder="ex: I went to the beach" v-model="note.title">
                            </div>
                            <div class="form-group">
                                <label for="note-text">Note Text</label>
                                <textarea class="form-control" id="note-text" placeholder="ex: I really enjoyed with my best friends!" v-model="note.text"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Priority</label><br/>
                                <input type="radio" name="priority" value="1" v-model="note.priority" checked> Low Priority<br/>
                                <input type="radio" name="priority" value="2" v-model="note.priority"> Medium Priority<br/>
                                <input type="radio" name="priority" value="3" v-model="note.priority"> High Priority
                            </div>
                            <button type="button" class="btn btn-primary" @click="addNote">Save Note</button>
                        </fieldset>
                    </form>
                    <!-- Sort notes form-->
                    <form class="card col-xs-12 col-sm-6">
                        <fieldset>
                            <legend>Filter Notes:</legend>
                            <div class="form-group">
                                <label>Sort by</label><br/>
                                <input type="radio" name="sort" value="1" v-model="filter" checked> More important first<br/>
                                <input type="radio" name="sort" value="2" v-model="filter"> Less important first<br/>
                                <input type="radio" name="sort" value="3" v-model="filter"> Older first<br/>
                                <input type="radio" name="sort" value="4" v-model="filter"> Newer first<br/>
                            </div>
                            <button type="button" class="btn btn-primary" @click="sortByFilter">Sort</button>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- Display notes -->
            <div class="container-fluid">
                <div class="row">
                    <div class="card col-xs-12 col-sm-6 col-md-4" v-for="(note, index) in savedNotes">
                        <div v-bind:class="note.priority.class" class="card-content">
                            <button class="close" @click="removeNote(index)">&times;</button>
                            <h3 class="text-primary">{{note.title}}</h3>
                            <h6 class="text-muted">{{note.time}}</h6>
                            <p>{{note.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vue.js script -->
        <script>
            let app = new Vue({
                el: `#app`,
                data: {
                    // The new note.
                    note: {
                        title: ``,
                        text: ``,
                        priority: 1
                    },
                    // Notes created and saved earlier.
                    savedNotes: [],
                    filter: 1,
                    savedNotesPath: `savedNotes`
                },
                methods: {
                    addNote(){
                        // Get the user input.
                        const titleInput = this.note.title
                        const textInput = this.note.text
                        const priorityInput = Number(this.note.priority)
                        let computedPriority
                        switch(priorityInput) {
                            case 3:
                                computedPriority = {
                                    num: priorityInput,
                                    class: `note-priority-high`
                                }
                                break;
                            case 2:
                                computedPriority = {
                                    num: priorityInput,
                                    class: `note-priority-medium`
                                }
                                break;
                            default:
                                computedPriority = {
                                    num: priorityInput,
                                    class: `note-priority-low`
                                }
                        }
                        // Add the note to savedNotes.
                        this.savedNotes.push({
                            title: titleInput,
                            text: textInput,
                            time: new Date(Date.now()).toLocaleString(),
                            priority: computedPriority,
                            mls: Math.round((new Date()).getTime() / 1000)
                        })
                        this.saveNotes()
                        console.log(`New note created.`)
                        this.note = {
                            title: ``,
                            text: ``,
                            priority: 1
                        }
                    },
                    removeNote(index){
                        this.savedNotes.splice(index, 1)
                        this.saveNotes()
                        console.log(`Removed note with index: ${index}`)
                    },
                    sortByFilter(){
                        const filter = Number(this.filter)
                        switch(filter){
                            // More important first.
                            case 1:
                                this.savedNotes.sort((a, b) => {
                                    return b.priority.num - a.priority.num
                                })
                                break
                            // Less important first.    
                            case 2:
                                this.savedNotes.sort((a, b) => {
                                    return a.priority.num - b.priority.num
                                })
                                break
                            // Older first.    
                            case 3:
                                this.savedNotes.sort((a, b) => {
                                    return a.mls - b.mls
                                })
                                break
                            // Newer first.      
                            case 4:
                                this.savedNotes.sort((a, b) => {
                                    return b.mls - a.mls
                                })
                                break      
                        }
                        this.saveNotes()
                    },
                    saveNotes(){
                        Cookies.set(this.savedNotesPath, this.savedNotes)
                    }
                },
                created(){
                    // Load saved notes from cookies.
                    const savedNotesCookiesVersion = Cookies.getJSON(`savedNotes`)
                    if(savedNotesCookiesVersion !== null && typeof savedNotesCookiesVersion !== `undefined`){
                        this.savedNotes = savedNotesCookiesVersion
                    }
                }
            })
        </script>
    </body>
</html>