<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NoteXPro</title>
        <!-- Vue.js -->
        <script src="https://unpkg.com/vue"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div id="app">
            <h1 class="text-center">Note<span class="text-primary">X</span>Pro</h1>
            <h1 class="text-center"><small>Keep track of your notes like a pro!</small></h1>
            <!-- Create new note form-->
            <div class="new-note">
                <form>
                    <div class="form-group">
                        <label for="note-title">Note Title</label>
                        <input type="text" class="form-control" id="note-title" placeholder="ex: I went to the beach" v-model="note.title">
                    </div>
                    <div class="form-group">
                        <label for="note-text">Note Text</label>
                        <textarea class="form-control" id="note-text" placeholder="Note body here..." v-model="note.text"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" @click="addNote">Save Note</button>
                </form>
            </div>
        </div>
        <!-- Vue.js script -->
        <script>
            let app = new Vue({
                el: `#app`,
                data: {
                    // The new note.
                    note: {
                        title: ``,
                        text: ``
                    },
                    // Notes created and saved earlier.
                    savedNotes: []
                },
                methods: {
                    addNote(){
                        // Get the user input.
                        const titleInput = this.note.title
                        const textInput = this.note.text
                        // Add the note to savedNotes.
                        this.savedNotes.push({
                            title: titleInput,
                            text: textInput,
                            time: new Date(Date.now()).toLocaleString()
                        })
                        console.log(`New note created.`)
                        this.note = {
                            title: ``,
                            text: ``
                        }
                    }
                }
            })
        </script>
    </body>
</html>