.new-note {
    max-width: 500px;
    margin: 20px;
}

.card {
    padding: 10px;
}

.card-content {
    border-top: 1px solid grey; 
    border-right: 1px solid grey; 
    border-bottom: 1px solid grey; 
    border-radius: 0px 5px 5px 0px;
    padding: 10px; 
}

.note-priority-low{
    border-left: 10px solid #4cae4c; 
}

.note-priority-medium{
    border-left: 10px solid #eea236; 
}

.note-priority-high{
    border-left: 10px solid #d9534f; 
}